@using Projeto.Web.Mvc.Models;
@using System;

<link href="/css/Main.css" rel="stylesheet" type="text/css"/>

@{
    ViewBag.Title = "Editar Usuário";
    Layout = "MasterPageDeslogado";
}

@{
    UsuarioModel usuario = ViewBag.Usuario;

    string dataCriacao = usuario.DataCriacao.ToString("yyyy-MM-dd");
}
<div class="caixa-editar">
    <h1>Formulário de Edição</h1>

@ViewBag.Mensagem
@TempData["Mensagem"];
                <form action = "/Usuario/Editar" method = "POST">
                    
                    <input type="hidden" value="@usuario.Id" name="Id">

                    <label>
                        Nome:
                        <input type = "text" value = "@usuario.Nome" name = "nome" placeholder="Ex: Kevin">
                    </label><br>

                    <label>
                        Email:
                        <input type = "email" name = "email" value = "@usuario.Email" placeholder="Ex: kevin@gmail.com">
                    </label><br>

                    <label>
                        Senha:
                        <input type = "password" value="@usuario.Senha" name = "senha" placeholder="Ex: 123456">
                    </label><br>

                    <input type = "submit" value = "Enviar"><br><br>

                </form>
</div>